---
import '@/styles/components/back-pokedex.scss';
import { BackChassis } from './BackChassis';
---

<BackChassis client:visible >
  <div class="pokedex-back__frame--screen"></div>
  <div class="pokedex-back__frame--blue">
    <div class="pokedex-back__frame--blue-buttons"></div>
    <div class="pokedex-back__frame--blue-buttons"></div>
    <div class="pokedex-back__frame--blue-buttons"></div>
    <div class="pokedex-back__frame--blue-buttons"></div>
    <div class="pokedex-back__frame--blue-buttons"></div>
    <div class="pokedex-back__frame--blue-buttons"></div>
    <div class="pokedex-back__frame--blue-buttons"></div>
    <div class="pokedex-back__frame--blue-buttons"></div>
    <div class="pokedex-back__frame--blue-buttons"></div>
    <div class="pokedex-back__frame--blue-buttons"></div>
  </div>

  <div class="pokedex-back__frame--white">
    <div class="pokedex-back__frame--white-buttons"></div>
    <div class="pokedex-back__frame--white-buttons"></div>
    <div class="pokedex-back__frame--white-yellow"></div>
  </div>

  <div class="pokedex-back__frame--black">
    <div class="pokedex-back__frame--black-buttons"></div>
    <div class="pokedex-back__frame--black-buttons"></div>
  </div>
</BackChassis>
