---
import BackPokedex from './pokedex/BackPokedex.astro';
import FrontPokedex from './pokedex/FrontPokedex.astro';

interface Props {
  name: string;
  id: string;
}

const { id, name } = Astro.props;
---

<div class="pokedex">
  <FrontPokedex name={name} id={id} />
  <BackPokedex />
</div>
